# Raw sequencing data
*.fastq
*.fastq.gz
*.fq

# Alignment files
*.sam
*.bam
*.bai

# Variant files
*.vcf
# Reference index files
*.amb
*.ann
*.bwt
*.pac
*.sa
*.fai
*.dict

# Variant index files
*.idx

# Alignment index
*.bai

# Large pipeline folders
data/
alignment/
trimmed_reads/
logs/
qc_reports/

# Python
__pycache__/
*.pyc

# Mac
.DS_Store
.ipynb_checkpoints
